
body{
    margin: 0px;
    padding: 0px;
    background-color:   #E6E6FA;
}
*{
    box-sizing: border-box;
}
.sayfa{
    width: 1600px;
    margin: 0 auto;
    background-color: white;
}
.baslik{
    background-color:   #808080;
    color: white;
    padding: 30px;
}
/* Menu Kutusu */
.menu {
    overflow: hidden;
    background-color: #000000  ;
}
.menu ul{
    margin: 0px;
    padding: 0px;
}
.menu li{
    list-style-type: none;
    float: left;
}
/* Menü Linkleri */
.menu a {            
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Mouse üzerinde iken link değişimi */
.menu a:hover {
    background-color: #ddd;
    color: black;
}
.sutun{
    float: left;
    padding: 10px;
}

.slider{
      max-width: 1300px;
      height: 500px;
      margin: 50px auto;
      position: relative;

}

.slide1{
     animation:fade 10s infinite;
     -webkit-animation:fade 13s infinite;
}
.slide2{
     animation:fade2 10s infinite;
     -webkit-animation:fade2 13s infinite;
}
.slide3{
     animation:fade3 10s infinite; 
     -webkit-animation:fade3 13s infinite;
}
.slide4{
      animation:fade4 10s infinite; 
      -webkit-animation:fade4 13s infinite;
}
.slide5{
      animation:fade5 10s infinite; 
      -webkit-animation:fade4 13s infinite;
}
            
.slide1,.slide2,.slide3,.slide4,.slide5{
      position: absolute;
      width: 100%;
      height: 100%;
}

@keyframes fade{
    0%   {opacity:1}
    33% { opacity: 0}
    66% { opacity: 0}
    100% { opacity: 0}
}
@keyframes fade2{
    0%   {opacity:0}
    33% { opacity: 1}
    66% { opacity: 0 }
    100% { opacity: 0}
}
@keyframes fade3{
    0%   {opacity:0}
    33% { opacity: }
    66% { opacity: 1}
    100% { opacity: 0}
}

@keyframes fade4{
    0%   {opacity:0}
    33% { opacity: 0}
    66% { opacity: 0}
    100% { opacity: 1}
}

@keyframes fade5{
    0%   {opacity:1}
    33% { opacity: 0}
    66% { opacity: 0}
    100% { opacity: 0}
}

 
.resim{

width: 1550px; 
}
.sol,.sag{
    width: 25%;
}
.orta{
    width: 50%;
}
.icerik:after {
    content: "";
    display: table;
    clear: both;
}
.alt {
    background-color: black;
    color: white;
}
    .pic{
    float:left;
    height: 400px;
    width: 1550px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
}

.pic:hover{
    border-radius:100%;
}



.resim7,.resim8,.resim9{
      position: absolute;
      width: 100%;
      height: 100%;
}

.cicek {
       width: 256px;
       height: 256px;
       position: relative;
       float: left;
       margin-left: 15px;
       background: skyblue;
       cursor: pointer;
       transition: all .4s ease-in-out;
   }
   .cicek:hover {
       transform: scale(.82);
       -webkit-transform: scale(.82);
   }
